@import "tailwindcss";

.bg-gradient {
  min-height: 100vh;
  background: linear-gradient(
      180deg,
      rgba(73, 99, 138, 0.35) 0%,
      rgba(0, 0, 0, 0) 50%
    ),
    url("/assets/line-back.svg"), #000;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
}
